[Desktop Entry]
Version=1.0
Type=Application
Name=Scrcpy
Comment=Display and control your Android device
Exec=sh -c "pgrep scrcpy > /dev/null || scrcpy -d --video-encoder 'c2.android.avc.encoder' & sleep 6 && scrcpy -d"
Icon=scrcpy
Path=
Terminal=false
StartupNotify=false
Name[pt_BR]=Scrcpy USB
